.uiux {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  position: relative;
}

.uiux .INI-ADALAH-GAMBAR-BG {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.headline {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 32px;
  color: #ffffff;
  z-index: 50;
  text-shadow: 0 0 5px black;
}

.slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: auto;
  z-index: 20;
}

.slider .slide {
  max-width: 950px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  object-fit: cover;
  filter: drop-shadow(0 0 6px white);
  opacity: 0;
  display: none;
  transition: 0.4s ease;
}

.slider .slide-small {
  width: 800px;
}


.slider .slide2 {
  width: 30px;
  z-index: 5;
}

.slider .slide.active,
.slider .slide2.active {
  opacity: 1;
  display: block;
}

.slider .slide2.active {
  z-index: 99;
}


.slider .slide-small {
  width: 700x; 
  filter: drop-shadow(0 0 4px white);
}


.next-button {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  font-size: 50px;
  color: white;
  cursor: pointer;
  z-index: 60;
  text-shadow: 0 0 5px black;
  transition: 0.3s;
}

.next-button:hover {
  color: yellow;
}

.back-button {
  position: absolute;
  top: 60px;
  left: 60px;
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 60;
}

.back-button:hover {
  background-color: rgba(255, 221, 0, 0.9);
}
