html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}


.digital {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  position: relative;
}

.digital .INI-ADALAH-GAMBAR-BG {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.digital .mentahan-HP {
  position: absolute;
  top: 8px;
  left: 476px;
  width: 489px;
  height: 1008px;
  aspect-ratio: 0.48;
  object-fit: cover;
}

.digital .uifolder {
  position: absolute;
  top: 308px;
  left: 534px;
  width: 236px;
  height: 57px;
  aspect-ratio: 4.13;
  object-fit: cover;
}

.digital .logofolder {
  position: absolute;
  top: 401px;
  left: 534px;
  width: 228px;
  height: 58px;
  aspect-ratio: 3.94;
  object-fit: cover;
}

.digital .corporatefolder {
  position: absolute;
  top: 495px;
  left: 534px;
  width: 290px;
  height: 57px;
  aspect-ratio: 5.07;
  object-fit: cover;
}

.digital .posterfolder {
  position: absolute;
  top: 588px;
  left: 534px;
  width: 242px;
  height: 57px;
  aspect-ratio: 4.26;
  object-fit: cover;

  filter: drop-shadow(0 0 6px white);
}

.uifolder,
.logofolder,
.corporatefolder,
.posterfolder {
  cursor: pointer;
  transition: 0.2s;
}

.uifolder:hover,
.logofolder:hover,
.corporatefolder:hover,
.posterfolder:hover {
  transform: scale(1.03);
  filter: brightness(1.15);
}


.back-button {
  position: absolute;
  top: 60px;
  left: 60px;
  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10;
  transition: 0.3s;
}

.back-button:hover {
  background-color: rgba(255, 221, 0, 0.9);
}
