html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.logo {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  position: relative;
}

.logo .INI-ADALAH-GAMBAR-BG {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo .logorill {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1240px;
  height: auto;
  z-index: 5;
  
  filter: drop-shadow(0 0 6px white);
}

.back-button {
  position: absolute;
  top: 60px;
  left: 60px;
  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10;
  transition: 0.3s;
}

.back-button:hover {
  background-color: rgba(255, 221, 0, 0.9);
}
