html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.poster {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  position: relative;
}

.poster .INI-ADALAH-GAMBAR-BG {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.carousel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1600px;
  z-index: 10;
}

.carousel-item {
  position: absolute;
  transition: transform 0.9s ease, opacity 0.9s ease, filter 0.9s ease;
}

.carousel-item img {
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 0 16px rgba(255, 255, 255, 0.8);
}

.carousel-item.center {
  transform: translateX(0) translateZ(350px) scale(1);
  opacity: 1;       
  filter: blur(0px);
}


.carousel-item.left {
  transform: translateX(-260px) translateZ(-150px) rotateY(18deg) scale(0.8);
  opacity: 0.6;
  filter: blur(2px);
}


.carousel-item.right {
  transform: translateX(260px) translateZ(-150px) rotateY(-18deg) scale(0.8);
  opacity: 0.6;
  filter: blur(2px);
}


.carousel-item.hidden {
  transform: translateX(0) translateZ(-400px) scale(0.5);
  opacity: 0;
}



.back-button {
  position: absolute;
  top: 60px;
  left: 60px;
  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10;
  transition: 0.3s;
}

.back-button:hover {
  background-color: rgba(255, 221, 0, 0.9);
}
