.uiux {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  position: relative;
}

.uiux .INI-ADALAH-GAMBAR-BG {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.headline {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 32px;
  color: #ffffff;
  z-index: 10;
  text-shadow: 0 0 5px black;
}

.slider {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: auto;
  z-index: 5;
}

.slider .slide {
  display: none;
  width: 100%;
  height: auto;
  object-fit: cover;
  filter: drop-shadow(0 0 6px white);
}

.slider .slide.active {
  display: block;
}

.next-button {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  font-size: 50px;
  color: white;
  cursor: pointer;
  z-index: 10;
  text-shadow: 0 0 5px black;
  transition: 0.3s;
}


.next-button:hover {
  color: yellow;
}

.back-button {
  position: absolute;
  top: 60px;
  left: 60px;
  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10;
  transition: 0.3s;
}

.back-button:hover {
  background-color: rgba(255, 221, 0, 0.9);
}

@font-face {
  font-family: "AGENCYB"; 
  src: url("AGENCYB.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

